.eslintrc.json
.gitignore
.prettierrc.json
package-lock.json
package.json
README.md
public/favicon.ico
public/index.html
public/logo.svg
public/logo192.png
public/logo512.png
public/manifest.json
public/robots.txt
public/fonts/StratosSkyeng.woff
public/fonts/StratosSkyeng.woff2
public/img/logo_modal.png
public/img/logo.png
public/img/playlist01.png
public/img/playlist02.png
public/img/playlist03.png
public/img/icon/dislike.svg
public/img/icon/like.svg
public/img/icon/next.svg
public/img/icon/note.svg
public/img/icon/play.svg
public/img/icon/prev.svg
public/img/icon/repeat.svg
public/img/icon/repeatoff.svg
public/img/icon/repeaton.svg
public/img/icon/search.svg
public/img/icon/shuffle.svg
public/img/icon/sprite.svg
public/img/icon/volume.svg
public/img/icon/watch.svg
src/api.js
src/App.js
src/App.test.js
src/index.css
src/index.js
src/routes.jsx
src/setupTests.js
src/UserContext.js
src/components/ArrayTrack.js
src/components/constants.js
src/components/ContentPlaylistSceleton.js
src/components/AudioPlayer/AudioPlayer.js
src/components/AudioPlayer/AudioPlayer.styled.js
src/components/FilterMenu/FilterMunu.js
src/components/FilterMenu/FilterMunu.style.js
src/components/FilterMenu/FilterMunu2.style.js
src/components/MainBlock/MainBlock.js
src/components/MainBlock/MainBlock.styled.js
src/components/MainBlock/MainBlockAll.js
src/components/MenuBurger/MenuBurger.js
src/components/MenuBurger/MenuBurger.styles.js
src/components/MenuBurger copy/MenuBurger.js
src/components/MenuBurger copy/MenuBurger.styles.js
src/components/NavMenu/NavMenu.js
src/components/NavMenu/NavMenu.styles.js
src/components/Playlist/Playlist.js
src/components/Playlist/Playlist.styled.js
src/components/PlaylistItem/playlistItem.js
src/components/PlaylistItem/playlistItem.styled.js
src/components/ProgressBar/ProgressBar.js
src/components/ProgressBar/ProgressBar.styled.js
src/components/protected-route/index.js
src/components/Search/Search.js
src/components/Search/Search.styles.js
src/components/Sidebar/Sidebar.js
src/components/Sidebar/Sidebar.styles.js
src/components/Sidebar/SidebarAll.js
src/components/SidebarPersonal/SidebarPersonal.js
src/components/SidebarPersonal/SidebarPersonal.styled.js
src/components/SidebarPlaylist/SidebarPlaylist.js
src/components/SidebarPlaylist/SidebarPlaylist.styled.js
src/components/SidebarPlaylistSkeleton/SidebarPlaylistSkeleton.js
src/components/SidebarPlaylistSkeleton/SidebarPlaylistSkeleton.style.js
src/components/SkeletonTrack/SkeletonTrack.js
src/components/SkeletonTrack/SkeletonTrack.styled.js
src/components/track-list/index.js
src/pages/category/index.js
src/pages/favorites/index.js
src/pages/login/index.js
src/pages/login/index.styled.js
src/pages/main/index.js
src/pages/NotFound/index.js
src/pages/register/index.js
src/pages/register/index.styled.js
src/pages/register/RegistrationForm.js
src/store/store.js
src/store/useAudioPlayer/AudioPlayer.slise.js
src/Style/App.styled.js
src/Style/GlobalStyles.js
