.footer {
    background-color: #313131;
    color: #ffffff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-social {
    display: flex;
    align-items: center;
}

.social-icon {
    font-size: 24px;
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none;
}

.social-icon:last-child {
    margin-right: 0;
}

.footer-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-link:last-child {
    margin-right: 0;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .footer-social {
        margin-top: 20px;
    }
}